{% extends "base.html" %}

{% block conteudo %}

<h2>Painel Administrativo</h2>

<div class="card p-4 mb-4">

    <h4>Novo usuário</h4>

    <form method="POST">

        <input class="form-control mb-2" name="nome" placeholder="Nome">

        <input class="form-control mb-2" name="email" placeholder="Email">

        <input class="form-control mb-2" name="senha" placeholder="Senha">

        <select class="form-control mb-2" name="perfil">

            <option value="admin">Admin</option>
            <option value="suporte">Suporte</option>
            <option value="treinador">Treinador</option>
            <option value="nutricionista">Nutricionista</option>
            <option value="aluno">Aluno</option>

        </select>

        <button class="btn btn-primary">Cadastrar</button>

    </form>

</div>

<div class="card p-4">

    <h4>Usuários cadastrados</h4>

    <table class="table table-dark">

        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Perfil</th>
            <th></th>
        </tr>

        {% for u in usuarios %}

        <tr>

            <td>{{u["nome"]}}</td>
            <td>{{u["email"]}}</td>
            <td>{{u["perfil"]}}</td>

            <td>

                <a class="btn btn-danger btn-sm" href="/excluir_usuario/{{u['id']}}">
                    Excluir
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}