<!DOCTYPE html>
<html>

<head>

<title>FITCENTER</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="/static/manifest.json">

<style>

body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

nav{
background:#111;
padding:15px;
display:flex;
flex-wrap:wrap;
}

nav a{
color:white;
margin-right:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#00ff9c;
}

.conteudo{
padding:20px;
}

</style>

</head>

<body>

<nav>

<a href="/">Dashboard</a>
<a href="/cadastro">Cadastrar aluno</a>
<a href="/alunos">Alunos</a>
<a href="/ranking">Ranking</a>
<a href="/ranking_semanal">Ranking semanal</a>

</nav>


<div class="conteudo">

{% block conteudo %}

{% endblock %}

</div>

<script>

if ('serviceWorker' in navigator) {
navigator.serviceWorker.register('/static/service-worker.js');
}

</script>

</body>

</html>