{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Cadastrar aluno</h2>

<form method="POST" enctype="multipart/form-data">

<div class="mb-3">

<label>Nome</label>
<input class="form-control" name="nome">

</div>

<div class="mb-3">

<label>Apelido</label>
<input class="form-control" name="apelido">

</div>

<div class="mb-3">

<label>Email</label>
<input class="form-control" name="email">

</div>

<div class="mb-3">

<label>Senha</label>
<input type="password" class="form-control" name="senha">

</div>

<div class="mb-3">

<label>Gênero</label>

<select name="genero" class="form-control">

<option>Masculino</option>
<option>Feminino</option>
<option>Outro</option>

</select>

</div>

<div class="mb-3">

<label>Foto</label>
<input type="file" class="form-control" name="foto">

</div>

<button class="btn btn-primary">
Cadastrar aluno
</button>

</form>

{% endblock %}