{% extends "base.html" %}

{% block conteudo %}

<h2>Cadastrar aluno</h2>

<form method="POST" enctype="multipart/form-data">

Nome:<br>
<input type="text" name="nome" required><br>

Apelido:<br>
<input type="text" name="apelido"><br>

Email:<br>
<input type="email" name="email" required><br>

Senha:<br>
<input type="password" name="senha" required><br>

Genero:<br>
<select name="genero">

<option value="Masculino">Masculino</option>
<option value="Feminino">Feminino</option>
<option value="Outro">Outro</option>

</select>

<br><br>

Foto:<br>
<input type="file" name="foto">

<br><br>

<button type="submit">Cadastrar aluno</button>

</form>

{% endblock %}