{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Dashboard FITCENTER</h2>

<div class="row g-4">

<!-- TOTAL ALUNOS -->

<div class="col-md-3">

<div class="card p-4 text-center">

<h6>Total de alunos</h6>

<div class="metric">
{{ total }}
</div>

<small class="text-secondary">alunos cadastrados</small>

</div>

</div>


<!-- XP ACADEMIA -->

<div class="col-md-3">

<div class="card p-4 text-center">

<h6>XP da academia</h6>

<div class="metric">
{{ xp_total }}
</div>

<small class="text-secondary">experiência acumulada</small>

</div>

</div>


<!-- TREINOS -->

<div class="col-md-3">

<div class="card p-4 text-center">

<h6>Treinos realizados</h6>

<div class="metric">
{{ treinos }}
</div>

<small class="text-secondary">sessões registradas</small>

</div>

</div>


<!-- STATUS -->

<div class="col-md-3">

<div class="card p-4 text-center">

<h6>Status sistema</h6>

<div class="metric" style="font-size:25px;color:#39ff14">
ONLINE
</div>

<small class="text-secondary">FitCenter ativo</small>

</div>

</div>

</div>


<hr class="my-5">


<div class="row g-4">

<!-- RANKING -->

<div class="col-md-6">

<div class="card p-4">

<h4 class="mb-3">Ranking da academia</h4>

<table class="table">

<thead>

<tr>
<th>#</th>
<th>Aluno</th>
<th>XP</th>
</tr>

</thead>

<tbody>

{% for aluno in ranking %}

<tr>

<td>

{% if loop.index == 1 %} 🥇
{% elif loop.index == 2 %} 🥈
{% elif loop.index == 3 %} 🥉
{% else %}
{{ loop.index }}
{% endif %}

</td>

<td>{{ aluno["nome"] }}</td>

<td>

{{ aluno["xp"] }}

<div class="progress mt-1" style="height:6px">

<div class="progress-bar bg-info"
style="width: {{ aluno['xp'] / 10 }}%"></div>

</div>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>


<!-- GRÁFICO -->

<div class="col-md-6">

<div class="card p-4">

<h4 class="mb-3">Atividade da academia</h4>

<canvas id="graficoTreinos"></canvas>

</div>

</div>

</div>


<!-- CHARTJS -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx = document.getElementById('graficoTreinos');

new Chart(ctx, {

type: 'line',

data: {

labels: ['Seg','Ter','Qua','Qui','Sex','Sab','Dom'],

datasets: [{

label: 'Treinos na semana',

data: [3,5,4,7,6,2,4],

borderColor: '#00e6e6',

backgroundColor: 'rgba(0,230,230,0.2)',

tension:0.4

}]

},

options: {

plugins:{
legend:{
labels:{
color:"white"
}
}
},

scales:{

x:{
ticks:{color:"white"}
},

y:{
ticks:{color:"white"}
}

}

}

});

</script>

{% endblock %}