{% extends "base.html" %}

{% block conteudo %}

<h2>Bem-vindo ao FitCenter</h2>

<div class="row mt-4">

    <div class="col-md-3">

        <div class="card p-4 text-center">

            <h4>Treino</h4>

            <a href="/treino" class="btn btn-primary">Abrir</a>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card p-4 text-center">

            <h4>Dieta</h4>

            <a href="/dieta" class="btn btn-success">Abrir</a>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card p-4 text-center">

            <h4>Avaliação</h4>

            <a href="/avaliacao" class="btn btn-warning">Abrir</a>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card p-4 text-center">

            <h4>Perfil</h4>

            <a href="/perfil" class="btn btn-dark">Abrir</a>

        </div>

    </div>

</div>

{% endblock %}