{% extends "base.html" %}

{% block conteudo %}

<h2>Alunos cadastrados</h2>

<table>

<tr>

<th>ID</th>
<th>Foto</th>
<th>Nome</th>
<th>Email</th>
<th>Avaliação</th>
<th>Treino</th>

</tr>

{% for aluno in alunos %}

<tr>

<td>{{aluno.id}}</td>

<td>

{% if aluno.foto %}
<img src="/static/fotos/{{aluno.foto}}" width="50">
{% endif %}

</td>

<td>{{aluno.nome}}</td>

<td>{{aluno.email}}</td>

<td>
<a href="/avaliacao/{{aluno.id}}">Avaliação física</a>
</td>

<td>
<a href="/treino/{{aluno.id}}">Treino</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}