{% extends "base.html" %}

{% block conteudo %}

<div class="row justify-content-center">

    <div class="col-md-4">

        <div class="card p-4">

            <h3 class="text-center mb-4">FitCenter</h3>

            {% if erro %}
            <div class="alert alert-danger">
                {{ erro }}
            </div>
            {% endif %}

            <form method="POST">

                <input class="form-control mb-3" name="email" placeholder="Email">

                <input class="form-control mb-3" type="password" name="senha" placeholder="Senha">

                <button class="btn btn-primary w-100">
                    Entrar
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}