{% extends "base.html" %}

{% block conteudo %}

<div class="row justify-content-center">

    <div class="col-md-4">

        <div class="card p-4">

            <!-- LOGO -->
            <div class="text-center mb-3">
                <img src="/static/img/logo.png" width="120">
            </div>

            <h3 class="text-center mb-4">FitCenter</h3>

            <!-- AVISO DO APP -->
            <div class="alert alert-info text-center">

                📱 <strong>Instale o aplicativo FitCenter</strong><br>

                Para uma melhor experiência no celular.

                <br><br>

                No navegador do celular clique em:

                <br>

                <strong>Adicionar à tela inicial</strong>

            </div>

            {% if erro %}
            <div class="alert alert-danger">
                {{ erro }}
            </div>
            {% endif %}

            <form method="POST">

                <input class="form-control mb-3" name="email" placeholder="Email">

                <input class="form-control mb-3" type="password" name="senha" placeholder="Senha">

                <button class="btn btn-primary w-100">
                    Entrar
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}