{% extends "base.html" %}

{% block conteudo %}

<h2>Perfil do aluno</h2>

<p><b>Nome:</b> {{aluno[0]}}</p>
<p><b>Email:</b> {{aluno[1]}}</p>

<hr>

<h3>Progressão</h3>

<p><b>Nível:</b> {{nivel}}</p>
<p><b>XP:</b> {{aluno[3]}}</p>
<p><b>🔥 Streak:</b> {{aluno[4]}} dias</p>

<hr>

<h3>🏆 Conquistas</h3>

<ul>

{% for c in conquistas %}

<li>{{c}}</li>

{% endfor %}

</ul>

<hr>

<h3>Evolução física</h3>

<canvas id="grafico"></canvas>

<hr>

<h3>Evolução de força</h3>

<canvas id="grafico_forca"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const datas = {{ datas | tojson }};
const pesos = {{ pesos | tojson }};
const gorduras = {{ gorduras | tojson }};
const massas = {{ massas | tojson }};

const ctx = document.getElementById('grafico');

new Chart(ctx, {

type:'line',

data:{

labels:datas,

datasets:[

{
label:'Peso',
data:pesos,
borderColor:'blue'
},

{
label:'Gordura',
data:gorduras,
borderColor:'red'
},

{
label:'Massa muscular',
data:massas,
borderColor:'green'
}

]

}

});

</script>

{% endblock %}