{% extends "base.html" %}

{% block conteudo %}

<h2>Perfil do aluno</h2>

<a href="/treino/{{aluno['id']}}">Ver treino</a>

<p><b>Nome:</b> {{aluno["nome"]}}</p>
<p><b>Email:</b> {{aluno["email"]}}</p>

<hr>

<h3>Progressão</h3>

<p><b>Nível:</b> {{nivel}}</p>

<p><b>XP:</b> {{aluno["xp"]}}</p>

<p><b>🔥 Streak:</b> {{aluno["streak"]}} dias</p>

<hr>

<h3>Registrar treino</h3>

<form method="POST" action="/registrar_treino/{{aluno['id']}}">

<label>Exercício</label><br>
<input type="text" name="exercicio" required>

<br><br>

<label>Peso (kg)</label><br>
<input type="number" name="peso" required>

<br><br>

<button type="submit">Registrar treino</button>

</form>

<hr>

<h3>Evolução física</h3>

<canvas id="grafico"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const datas = {{ datas | tojson }};
const pesos = {{ pesos | tojson }};
const gorduras = {{ gorduras | tojson }};
const massas = {{ massas | tojson }};

const ctx = document.getElementById('grafico');

new Chart(ctx, {

type:'line',

data:{

labels:datas,

datasets:[

{
label:'Peso',
data:pesos,
borderColor:'blue',
fill:false
},

{
label:'Gordura',
data:gorduras,
borderColor:'red',
fill:false
},

{
label:'Massa muscular',
data:massas,
borderColor:'green',
fill:false
}

]

}

});

</script>

<hr>

<h3>Histórico de treinos</h3>

<table border="1" cellpadding="10">

<tr>

<th>Exercício</th>
<th>Peso</th>
<th>Data</th>

</tr>

{% for treino in historico %}

<tr>

<td>{{treino["exercicio"]}}</td>
<td>{{treino["peso"]}}</td>
<td>{{treino["data"]}}</td>

</tr>

{% endfor %}

</table>

{% endblock %}