{% extends "base.html" %}

{% block conteudo %}

<h2 class="mb-4">Meu aplicativo</h2>

<div class="row g-4">

    <div class="col-md-4">

        <a href="/meu_treino" style="text-decoration:none">

            <div class="card text-center p-5">

                <h3>🏋️</h3>
                <h4>Meu Treino</h4>

            </div>

        </a>

    </div>

    <div class="col-md-4">

        <a href="/meu_plano" style="text-decoration:none">

            <div class="card text-center p-5">

                <h3>🥗</h3>
                <h4>Plano Alimentar</h4>

            </div>

        </a>

    </div>

    <div class="col-md-4">

        <a href="/minha_avaliacao" style="text-decoration:none">

            <div class="card text-center p-5">

                <h3>📊</h3>
                <h4>Avaliação Física</h4>

            </div>

        </a>

    </div>

</div>

{% endblock %}