{% extends "base.html" %}

{% block conteudo %}

<h2 class="mb-4">Portal do Aluno</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card p-4 text-center">

            {% if aluno.foto %}
            <img src="/static/fotos/{{ aluno.foto }}" width="100">
            {% endif %}

            <h4 class="mt-2">{{ aluno.apelido }}</h4>

            <p>{{ aluno.email }}</p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4 text-center">

            <h5>XP</h5>

            <div class="metric">
                {{ aluno.xp }}
            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4 text-center">

            <h5>Streak</h5>

            <div class="metric">
                🔥 {{ streak }}
            </div>

        </div>

    </div>

</div>

<hr class="my-5">

<h4>Progresso</h4>

<canvas id="graficoPeso"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const datas = {{ datas_grafico| tojson }};
    const pesos = {{ pesos_grafico| tojson }};

    new Chart(document.getElementById("graficoPeso"), {

        type: "line",

        data: {
            labels: datas,

            datasets: [{
                label: "Peso corporal",
                data: pesos,
                borderWidth: 3
            }]
        }

    });

</script>

<hr class="my-5">

<a href="/treino/{{ aluno.id }}" class="btn btn-primary">Ver treino</a>

<a href="/ranking" class="btn btn-dark">Ranking</a>

{% endblock %}