{% extends "base.html" %}

{% block content %}

<h2>Ranking da Academia</h2>

<table class="table">

    <thead>

        <tr>
            <th>Posição</th>
            <th>Aluno</th>
            <th>XP</th>
        </tr>

    </thead>

    <tbody>

        {% for aluno in ranking %}

        <tr>

            <td>

                {% if loop.index == 1 %} 🥇
                {% elif loop.index == 2 %} 🥈
                {% elif loop.index == 3 %} 🥉
                {% else %}
                {{ loop.index }}
                {% endif %}

            </td>

            <td>{{ aluno["nome"] }}</td>
            <td>{{ aluno["xp"] }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}