{% extends "base.html" %}

{% block conteudo %}

<h2 class="mb-4">Painel do Treinador</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card p-4">

            <h5>Total de alunos</h5>

            <div class="metric">
                {{ total_alunos }}
            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4">

            <h5>XP da academia</h5>

            <div class="metric">
                {{ xp_total }}
            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4">

            <h5>Exercícios concluídos</h5>

            <div class="metric">
                {{ exercicios_concluidos }}
            </div>

        </div>

    </div>

</div>

<hr class="my-5">

<h4>Ranking da academia</h4>

<table class="table table-dark">

    <tr>
        <th>Posição</th>
        <th>Aluno</th>
        <th>XP</th>
    </tr>

    {% for aluno in ranking %}

    <tr>

        <td>{{loop.index}}</td>
        <td>{{aluno["nome"]}}</td>
        <td>{{aluno["xp"]}}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}