{% extends "base.html" %}

{% block conteudo %}

<h2>Treino do aluno</h2>

<hr>

{% for e in exercicios %}

<div style="border:1px solid #444;padding:15px;margin-bottom:15px">

    <b>{{e["nome"]}}</b>

    <br><br>

    Planejado:

    <br>

    Séries: {{e["series"]}}
    Reps: {{e["repeticoes"]}}
    Peso: {{e["peso"]}}

    <hr>

    <form method="POST" action="/registrar_exercicio">

        <input type="hidden" name="exercicio_id" value="{{e['id']}}">

        Peso utilizado:

        <input name="peso_real" value="{{e['peso_real'] or ''}}">

        <br><br>

        Reps realizadas:

        <input name="reps_real" value="{{e['reps_real'] or ''}}">

        <br><br>

        <button type="submit">

            {% if e["concluido"] == 1 %}
            ✔ Concluído
            {% else %}
            Marcar exercício
            {% endif %}

        </button>

    </form>

</div>

{% endfor %}

{% endblock %}