{% extends "base.html" %}

{% block conteudo %}

<h2>Meus Treinos</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Treino</th>
            <th>Ver treino</th>
            <th>PDF</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        {% for t in treinos %}

        <tr>

            <td>{{ t["nome"] }}</td>

            <td>
                <a class="btn btn-sm btn-primary" href="/treino_detalhe/{{ t['id'] }}">
                    Abrir no App
                </a>
            </td>

            <td>
                {% if t["arquivo_pdf"] %}
                <a class="btn btn-sm btn-secondary" href="/uploads/treinos/{{ t['arquivo_pdf'] }}" target="_blank">
                    PDF
                </a>
                {% else %}
                —
                {% endif %}
            </td>

            <td>

                {% if t["concluido"] == 1 %}

                <span class="text-success">
                    ✔ Concluído
                </span>

                {% else %}

                <a class="btn btn-sm btn-success" href="/concluir_treino/{{ t['id'] }}">
                    Finalizar
                </a>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}