{% extends "base.html" %}

{% block conteudo %}

<h2>Treino</h2>

<table class="table table-bordered table-striped">

    <thead>

        <tr>

            <th>#</th>
            <th>Exercício</th>
            <th>Séries</th>
            <th>Reps</th>
            <th>Intervalo</th>
            <th>Peso</th>
            <th>Movimento</th>

            <th>Peso usado</th>
            <th>Observação</th>
            <th>✔</th>

        </tr>

    </thead>

    <tbody>

        {% for e in exercicios %}

        <tr>

            <td>{{ e["ordem"] }}</td>

            <td>{{ e["nome"] }}</td>

            <td>{{ e["series"] }}</td>

            <td>{{ e["repeticoes"] }}</td>

            <td>{{ e["intervalo"] }}</td>

            <td>{{ e["peso"] }}</td>

            <td>{{ e["movimento"] }}</td>

            <td>

                <form action="/atualizar_exercicio/{{ e['id'] }}" method="POST">

                    <input type="text" name="peso_aluno" value="{{ e['peso_aluno'] }}" class="form-control"
                        placeholder="kg">

            </td>

            <td>

                <input type="text" name="observacao_aluno" value="{{ e['observacao_aluno'] }}" class="form-control"
                    placeholder="obs">

            </td>

            <td class="text-center">

                <input type="checkbox" name="concluido" {% if e["concluido"]==1 %}checked{% endif %}>

            </td>

            <td>

                <button class="btn btn-sm btn-primary">
                    Salvar
                </button>

                </form>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}